<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - Blueimp相册</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link th:href="@{/templates/css/font-awesome.min.css}" href="css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link th:href="@{/templates/css/plugins/blueimp/css/blueimp-gallery.min.css}"
          href="css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
    <link th:href="@{/templates/css/style.min.css}" href="css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">

    <style>
        .lightBoxGallery img {
            margin: 5px;
            width: 160px;
        }
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <div class="lightBoxGallery">
                        <span th:each="url,logsPagestat:${PhotoList}">
                            <a th:href="${url}" href="img/p_big1.jpg" title="图片" data-gallery=""><img th:src="${url}"
                                                                                                      src=""></a>
                        </span>
                        <div id="blueimp-gallery" class="blueimp-gallery">
                            <div class="slides"></div>
                            <h3 class="title"></h3>
                            <a class="prev">‹</a>
                            <a class="next">›</a>
                            <a class="close">×</a>
                            <a class="play-pause"></a>
                            <ol class="indicator"></ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/templates/js/jquery.min.js}" src="js/jquery.min.js?v=2.1.4"></script>
<script th:src="@{/templates/js/bootstrap.min.js}" src="js/bootstrap.min.js?v=3.3.5"></script>
<script th:src="@{/templates/js/content.min.js}" src="js/content.min.js?v=1.0.0"></script>
<script th:src="@{/templates/js/plugins/blueimp/jquery.blueimp-gallery.min.js}"
        src="js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>

</html>