<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymt.mapper.MediaUrlMapper">
  <resultMap id="BaseResultMap" type="com.ymt.domain.MediaUrl">
    <!--@mbg.generated-->
    <!--@Table media_url-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="media_base_info_id" jdbcType="VARCHAR" property="mediaBaseInfoId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, media_base_info_id, url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from media_url
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from media_url
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ymt.domain.MediaUrl" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into media_url (media_base_info_id, url)
    values (#{mediaBaseInfoId,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ymt.domain.MediaUrl" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into media_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mediaBaseInfoId != null">
        media_base_info_id,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mediaBaseInfoId != null">
        #{mediaBaseInfoId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ymt.domain.MediaUrl">
    <!--@mbg.generated-->
    update media_url
    <set>
      <if test="mediaBaseInfoId != null">
        media_base_info_id = #{mediaBaseInfoId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ymt.domain.MediaUrl">
    <!--@mbg.generated-->
    update media_url
    set media_base_info_id = #{mediaBaseInfoId,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-07-19-->
  <select id="findAllByMediaBaseInfoId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from media_url
        where media_base_info_id=#{mediaBaseInfoId,jdbcType=VARCHAR}
    </select>
</mapper>